<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application>
        <service
            android:name=".demo.DemoRecordingService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|microphone" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/demo_file_paths" />
        </provider>
    </application>
</manifest>
